{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% block campaignchain_operation_twitter_update_status_widget %}
    {% spaceless %}
        {% stylesheets '@campaignchain_operation_twitter_css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        <div id="campaignchain-operation-twitter-update-status">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class='campaignchain-medium-icon'>
                        <img class='icon' src='{{ asset( form.vars.location|campaignchain_medium_icon ) }}'/>
                        <img class='context-icon' src='{{ asset( form.vars.location|campaignchain_medium_context ) }}' style='background-image: url("{{ asset( form.vars.location|campaignchain_medium_context ) }}");'/>
                        <span class="text"><a href="{{ form.vars.location.getUrl() }}">{{ form.vars.location.getName() }}</a></span>
                    </div>
                </div>
                <div class="panel-body">
                    <p>What's happening?</p>
                {{ form_row(form.message, { 'widget_col': 12}) }}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}